---
layout: default
---

<article class="post">
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date"> {{ page.date | date: "%B %-d, %Y" }}</time>
  <h1 class="post-title">{{ page.title }}</h1>

  <div class="content">
    {% if page.attentionconservationnotice %}

      <p class="attentionconservationnotice">
        <span class="acn-title"><i class="fa fa-warning"></i> &nbsp;Attention conservation notice</span><br>
        {{ page.content | number_of_words }} {{ page.attentionconservationnotice }}
      </p>
      </p>

    {% endif %}


    {{ content }}
  </div>

</article>



<div class="pagination">
  {% if page.previous.url %}
    <a class="pagination-item older" href="{{page.previous.url}}">Previous post</a>
  {% else %}
    <span class="pagination-item older">Previous post</span>
  {% endif %}
{% if page.next.url %}
  <a class="pagination-item newer" href="{{page.next.url}}">Next post</a>
{% else %}
  <span class="pagination-item newer">Next post</span>
{% endif %}

</div>



<!--

<div id="page-navigation">
        <div class="clear">&nbsp;</div>
        <div class="left">
        {% if page.previous.url %}
                <a href="{{page.previous.url}}" title="Previous Post:
{{page.previous.title}}">&laquo; {{page.previous.title}}</a>
        {% endif %}
        </div>

        <div class="right">
        {% if page.next.url %}
                <a href="{{page.next.url}}" title="next Post:
{{page.next.title}}">{{page.next.title}} &raquo; </a>
        {% endif %}
        </div>
        <div class="clear">&nbsp;</div>
</div>
-->


<!-- <div class="pagination"> -->
<!--   {% if paginator.next_page %} -->
<!--     <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a> -->
<!--   {% else %} -->
<!--     <span class="pagination-item older">Older</span> -->
<!--   {% endif %} -->
<!--   {% if paginator.previous_page %} -->
<!--     {% if paginator.page == 2 %} -->
<!--       <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a> -->
<!--     {% else %} -->
<!--       <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a> -->
<!--     {% endif %} -->
<!--   {% else %} -->
<!--     <span class="pagination-item newer">Newer</span> -->
<!--   {% endif %} -->
<!-- </div> -->
